.u-section-1 {
  background-image: url("images/Windows1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 193px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  animation-duration: 1250ms;
  margin: 97px auto 43px 95px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 504px;
    margin-left: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 92px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 488px;
    margin-left: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(#77aad9, #c635c9);
}

.u-section-2 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-2 .u-shape-1 {
  width: 1184px;
  height: 859px;
  background-image: linear-gradient(-90deg, rgba(218,228,237,0.25), rgba(219,84,90,0));
  margin: 8px -351px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 500ms;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -793px 299px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 20px 65px 0 369px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 431px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 20px 0 0 369px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 35px 472px 0 431px;
}

.u-section-2 .u-image-1 {
  width: 132px;
  height: 132px;
  animation-duration: 1000ms;
  margin: -519px auto 0 86px;
}

.u-section-2 .u-image-2 {
  width: 208px;
  height: 73px;
  animation-duration: 1000ms;
  margin: 53px auto 0 48px;
}

.u-section-2 .u-image-3 {
  width: 249px;
  height: 142px;
  animation-duration: 1000ms;
  margin: 24px auto 0 24px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  width: 362px;
  margin: 243px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -519px;
    margin-right: 246px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 355px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 304px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 372px;
    margin-left: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
    height: 522px;
    margin-top: 143px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -635px;
    margin-right: 188px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 273px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 272px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 233px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 262px;
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    height: 392px;
    margin-top: 245px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -736px;
    margin-right: 141px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 205px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 204px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 175px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 172px;
    margin-left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1882px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 247px;
    margin-top: 1089px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -992px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 128px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 110px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 72px;
    margin-left: 31px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 43px;
    margin-left: -34px;
  }

  .u-section-2 .u-image-2 {
    width: 179px;
    height: 62px;
    margin-top: -84px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: -229px;
    margin-right: -50px;
  }

  .u-section-2 .u-text-6 {
    width: 340px;
    margin-top: 170px;
    margin-bottom: 22px;
  }
}